@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

#smartAirConditioner {
    .modal-dialog {
        .modal-content {
            background-color: #EEEEEE;
            border: 0;
            border-radius: 33px;
            padding: 29px 29px 101px;

            .modal-header {
                border: 0;
            }

            .modal-body {
                padding: 0 93px;
            }

            .modal-footer {
                justify-content: center;
                border: none;
            }
        }

        max-width: 1100px;
    }
}

header {
    .navigation-bar {
        background: linear-gradient(90deg, $primary -0.99%, $secondary 100.62%);
        box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
        position: relative;
    }

    .special-offers {
        background: $light-grey;
        padding: 19px 0 21px;
    }

    .divider {
        padding: 8px 0;
        background: $dark-grey;
        display: flex;
        justify-content: center;
        align-items: center;

        .stick {
            height: 3px;
            width: 188px;
            border-radius: 6px;
            background-color: $medium-grey;
        }
    }
}

section.banner {
    padding: 41px 62px 55px;

    @include media-breakpoint-down(xxl) {
        padding: 41px 8px;
    }

    .banner-wrapper {
        background: imgUrl("banner.jpg") center;
        background-size: cover;
        position: relative;
        filter: drop-shadow(4px 5px 11px rgba(0, 0, 0, 0.2));
        padding: 185px 0 0 0;

        .curtain-left,
        .curtain-right {
            position: absolute;
            opacity: 0.5;
            top: 0;
        }

        .curtain-left {
            left: -55px;

            @include media-breakpoint-down(xxl) {
                left: 0;
            }
        }

        .curtain-right {
            right: -55px;

            @include media-breakpoint-down(xxl) {
                right: 0;
            }
        }

        .vertical-divider {
            height: 67.5px;
            width: 2px;
            background-color: $white;
            box-shadow: 1px -3px 8px rgba(0, 0, 0, 0.5);
        }

        .cta-1 {
            background: linear-gradient(90.08deg, $primary -1.74%, $secondary 103.11%);
        }

        .cta-2 {
            background: linear-gradient(90.08deg, $quartinary -1.74%, $tertiary 103.11%);
        }

        .cta-1,
        .cta-2 {
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
            border-radius: 7px;
            padding: 18px 24px;
            color: $white;
        }
    }
}

section.deal {
    background: imgUrl('deal.png') right center, linear-gradient(90.92deg, #414A4A 7.41%, #1E2525 40%);
    background-size: contain;
    padding: 75px 0 55px;

    @include media-breakpoint-down(lg) {
        background: linear-gradient(90.92deg, #414A4A 7.41%, #1E2525 40%);
    }
}

.deal-strip {
    height: 17px;
    background: linear-gradient(90deg, #252c2c, #1b2222);
    filter: drop-shadow(9px 7px 13px rgba(0, 0, 0, 0.25));
    position: relative;
}

section.services {
    background: $light;
    padding: 83px 0;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    position: relative;

    .nav.nav-pills {
        justify-content: center;
        gap: 28px;

        @include media-breakpoint-down(lg) {
            gap: 15px;
        }

        @include media-breakpoint-down(sm) {
            gap: 5px;
        }

        li.nav-item {
            padding: 10px 0;

            button.nav-link {
                border: 1.5px solid #858787;
                background: $light;
                border-radius: 12px;
                font-size: 1.25rem;
                height: 57px;
                width: 167px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #585858;
                font-weight: 500;

                @include media-breakpoint-down(lg) {
                    width: auto;
                }
                
                @include media-breakpoint-down(sm) {
                    padding: 0.5rem 5px;
                }

                &.active {
                    color: $white;
                    background: linear-gradient(90deg, #F2B236 0%, #F26336 0.01%, #F2B236 81.23%);
                    border: 0;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                    height: 40px;
                }
            }

            &.sale,
            &.best-seller {
                border-radius: 18px;
                padding: 10px 10px 37px;
                background: linear-gradient(110.27deg, $primary 4.3%, $secondary 103.93%);
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
                position: relative;
                display: flex;
                justify-content: center;

                button.nav-link {
                    border: 0;
                }
            }

            &.sale::after {
                content: "SALE!";
                position: absolute;
                bottom: 6px;
                color: $white;
                font-weight: 600;
                font-size: 1rem;
            }

            &.best-seller::after {
                content: "Best Seller!";
                position: absolute;
                bottom: 6px;
                color: $white;
                font-weight: 600;
                font-size: 1rem;

                @include media-breakpoint-down(sm) {
                    content: "Best!";
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            .cta-card {
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                padding: 20px 11px;
                height: 100%;
                color: $white;
                line-height: 1.125;
                display: flex;
                justify-content: center;
                align-items: center;

                &.primary {
                    background: linear-gradient(139.03deg, $primary 0%, $secondary 103.49%);
                }

                &.tertiary {
                    background: linear-gradient(105.01deg, $tertiary 11.05%, $quartinary 99.74%);
                }
            }

            .price {
                position: relative;
                display: inline-flex;
                line-height: 1;

                &::after {
                    position: absolute;
                    content: "INC. GST";
                    font-size: 1rem;
                    font-weight: 700;
                    font-family: $font-archivo;
                    right: -50%;
                    top: 35%;

                    @include media-breakpoint-down(lg) {
                        right: -82%;
                    }
                }
            }
        }
    }

    ul.terms-conditions {
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
            list-style: none;
            font-weight: 300;
            font-style: italic;
            padding: 8px 0;

            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
    }
}

section.mega-sale {
    background: imgUrl('mega-sale.jpg') center;
    background-size: cover;
    padding: 64px 0 87px;

    .hero-heading {
        text-align: center;
        text-transform: uppercase;
        font-size: 7.375rem;
        font-family: $font-oswald;
        font-weight: 600;
        line-height: 1;
        background: linear-gradient(90.64deg, $tertiary 8.91%, $quartinary 99.51%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        filter: drop-shadow(4px 4px 0px $jet-black);
        text-fill-color: transparent;

        @include media-breakpoint-down(sm) {
            font-size: 5rem;
        }
    }
}

section.same-day-servicing {
    background: imgUrl('same-day-servicing.png') right center, linear-gradient(90.92deg, $tertiary 7.41%, $quartinary 50.2%);
    background-size: contain;
    padding: 73px 0 55px;
    color: $white;
}

.same-day-servicing-strip {
    height: 17px;
    background: linear-gradient(90deg, #F29E3C, #F3AF45);
    filter: drop-shadow(9px 7px 13px rgba(0, 0, 0, 0.25));
}

section.about {
    background: imgUrl("about.png") left center, linear-gradient(146.44deg, #3FB9C8 11.16%, #6B89DD 100.78%);
    background-size: contain;
    padding-top: 58px;

    .heading {
        position: relative;

        .content {
            color: $white;

            @include media-breakpoint-up(lg) {
                right: 0;
                top: 1rem;
                position: absolute;
                max-width: 363px;
            }
        }
    }

    .advantages-card {
        border-radius: 10px;
        border: 3px solid $white;
        padding: 36px 42px;
        text-align: center;
        color: $white;
    }
}

section.airtouch {
    background: $light;
    padding: 83px 0;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    position: relative;

    .nav.nav-pills {
        justify-content: center;
        gap: 28px;

        li.nav-item {
            padding: 10px 0;

            button.nav-link {
                border: 1.5px solid #858787;
                background: $light;
                border-radius: 12px;
                font-size: 1.25rem;
                height: 57px;
                width: 167px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #585858;
                font-weight: 500;

                @include media-breakpoint-down(sm) {
                    width: auto;
                    padding: 0.5rem 5px;
                }

                &.active {
                    color: $white;
                    background: linear-gradient(90deg, #F2B236 0%, #F26336 0.01%, #F2B236 81.23%);
                    border: 0;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                    height: 40px;
                }
            }

            &.new {
                border-radius: 18px;
                padding: 10px 10px 37px;
                background: linear-gradient(110.27deg, $primary 4.3%, $secondary 103.93%);
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
                position: relative;
                display: flex;
                justify-content: center;

                button.nav-link {
                    border: 0;
                }

                &::after {
                    content: "NEW!";
                    position: absolute;
                    bottom: 6px;
                    color: $white;
                    font-weight: 600;
                    font-size: 1rem;
                }
            }

        }
    }

    .tab-content {
        .tab-pane {
            .cta-card {
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                padding: 20px 11px;
                height: 100%;
                color: $white;
                line-height: 1.125;
                display: flex;
                justify-content: center;
                align-items: center;

                &.primary {
                    background: linear-gradient(139.03deg, $primary 0%, $secondary 103.49%);
                }
            }

            .enquire-btn {
                height: 66px;
            }
        }
    }

    ul.terms-conditions {
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
            list-style: none;
            font-weight: 300;
            font-style: italic;
            padding: 8px 0;
        }
    }
}

section.form {
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;

    .title {
        text-align: center;
        padding: 68px 0;
        background-color: $light-grey;

        .hero_heading {
            font-family: $font-oswald;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            background: linear-gradient(90.05deg, #F4723A 19.02%, #F4A33A 83.15%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    .form-main {
        border-top: 8px solid $primary;
        padding: 79px 0 63px;
        background: $white;

        .heading {
            color: $medium-grey;
        }

        form {
            .form-border {
                position: relative;

                &::before {
                    position: absolute;
                    height: 5px;
                    width: 10%;
                    background: $tertiary;
                    content: "";
                    left: 0;
                    bottom: 0;
                    z-index: 9;
                    border-radius: 50rem;
                }

                &::after {
                    position: absolute;
                    height: 5px;
                    width: 88%;
                    background: $primary;
                    content: "";
                    right: 0;
                    bottom: 0;
                    z-index: 9;
                    border-radius: 50rem;
                }
            }

            .form-control {
                border: 0;
                font-size: 1.25rem;
                padding: 11px 0;
                position: relative;

                &::placeholder {
                    color: #858787;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }

            .underscore {
                height: 4px;
                border-radius: 3px;
                width: 100%;
            }

            select {
                color: $tertiary;
            }

            textarea {
                border: 3px solid $primary !important;
                border-radius: 11px !important;
                padding: 25px 35px !important;
            }
        }
    }
}

section.testimonials {
    padding: 136px 0 106px;
    background: $light-grey;

    .testimonials-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            background: linear-gradient(180deg, #3DBAC7 0%, #6C8BDE 100%);
            border-radius: 7px;
            padding: 99px 51px 31px 41px;
            color: $white;
            margin: 0 16px;

            @include media-breakpoint-down(xxl) {
                margin: 0 10px;
                padding: 64px 24px 31px;
            }

            @include media-breakpoint-down(sm) {
                margin: 0 5px;
                padding: 31px;
            }
        }
    }

    .vertical-divider {
        height: 67.5px;
        width: 2px;
        background-color: $dark;
        box-shadow: 1px -3px 8px rgba(0, 0, 0, 0.5);
    }
}

section.map-wrapper {
    .map {
        iframe {
            width: 100%;
            min-height: 711px;
            margin-bottom: -7px;
        }
    }

    .get-in-touch {
        background: imgUrl("about.png") left center, linear-gradient(113.21deg, $primary 2.91%, #6D88DE 99.84%);
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
        background-size: contain;
        display: flex;
        align-items: center;
        color: $white;
        height: 100%;
        padding: 20px 96px;

        @include media-breakpoint-down(lg) {
            padding: 48px 96px;
            background-size: cover;
            background-position-x: left;
        }

        @include media-breakpoint-down(sm) {
            padding: 48px 16px;
        }

        table.contact-table {
            border-collapse: separate;
            border-spacing: 0 17px;
            margin: 80px 0;

            @include media-breakpoint-down(sm) {
                margin: 31px 0;
            }
        }
    }
}

.footer-top-strip {
    background: linear-gradient(90deg, #6D88DE 13.67%, #54A3D2 54.69%, #3DBAC7 100.96%);
    height: 8px;
}

footer {
    font-size: 1rem;
    background-color: #eeeeee;
    padding: 24px 0;
}